
.title-block, .summary-block {
    padding: 8px 48px;
    /*text-align: center;*/
    font-family: monospace;
    color: gray;
}

.buttons-block {
    padding: 8px 48px;
    text-align: center;
}

.buttons-block button {
    font-family: monospace;
    color: gray;
    background-color: rgba(128, 128, 128, 0.1);
    border: none;
    padding: 8px 16px;
    margin: 4px; /* Add some space between buttons */
    border-radius: 6px;
    width: 200px;
}
.ao3-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-family: monospace;
    color: gray;
    text-decoration: none; /* Remove underline */
}

.nume-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-family: monospace;
    color: gray;
    text-decoration: none; /* Remove underline */
}

.ao3-link:hover, .ao3-link:active {
    background-color: rgba(128, 128, 128, 0.1); /* Light gray background */
    border-radius: 6px; /* Rounded corners */
    padding: 16px; /* Ensure padding is consistent */
}

.ao3-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.full-width-image {
    padding-top: 16px;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
}