.tab {
    font-family: monospace;
}

.tab-button {
    border: 2px solid gainsboro;
    border-radius: 6px;
    padding: 5px 15px;
    background-color: gainsboro;
    color: gray;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0;
    font-family: monospace;
}

.tab-button-open {
    border: 2px solid white;
    border-radius: 6px;
    padding: 5px 15px;
    background-color: white;
    color: gray;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0;
    font-family: monospace;}


.tab-content {
    background-color: white;
    color: black;
    padding: 10px;
}
