body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#examples {
  padding: 10px;
}

#examples h2 {
  text-align: left;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 1rem;
  border: 2px solid gainsboro;
  border-radius: 10px;
  background-color: white;
  color: gray;
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  color: gray;
}

#examples menu button.active {
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  color: gray;
}

#tab-content {
  padding: 0 1rem 1rem 1rem;
  border-radius: 6px;
  background-color: whitesmoke;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);*/
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}